@import "tailwindcss";

/* Theme tokens */
:root {
  --color-base: #F4ECDF;

  --font-cyberform: "Cyberform", sans-serif;
  --font-jakarta: "Plus Jakarta Sans", sans-serif;

  --text-h1: 128px;
  --text-h2: 80px;
  --text-h3: 50px;
  --text-h4: 32px;
  --text-h5: 20px;
}

/* Font */
@font-face {
  font-family: "Cyberform";
  src: url("/fonts/Cyberform.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Base */
body {
  background: var(--color-base);
}